{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="border-top pt-3 text-center">
  <h2>You are logged out</h2>
  <small class="text-muted">
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Log In Again</button>
    </form>
  </small>
</div>
{% endblock content %}








{% comment %} {% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
<div class="border-top pt-3 text-center">
  <h2>You are logged Out</h2>

  <small class="text-muted"
    ><a class="btn btn-danger" href="{% url 'login' %}">Log In Again</a>
  </small>
</div>
{% endblock content %} {% endcomment %}